/**
 * CSS rules that apply to all templates.
 */
body {
	margin: 0;
	padding: 0
}
.ssi-template {
	--ssi-template--width: 100vw;
	--ssi-template--unit: calc(var(--ssi-template--width) / 100);
	--ssi--text--color: white;
	--ssi--text--background-color: transparent;
	--ssi--background-color: rgb(23, 139, 145);
	--ssi--font-family: sans-serif;
	--ssi--font-size: 6;
	--ssi--title--font-size: 6;
	--ssi--title--font-weight: inherit;
	--ssi--title--text-transform: inherit;
	--ssi--location--font-size: 4;
	--ssi--location--font-weight: inherit;
	--ssi--location--text-transform: inherit;
	--ssi--salary--font-size: 3;
	--ssi--salary--font-weight: inherit;
	--ssi--salary--text-transform: inherit;
	--ssi--image--background-blend-mode: none;
	--ssi--logo--height: 4;
	--ssi--logo--width: auto;
	width: var(--ssi-template--width);
	aspect-ratio: 120/63;
	display: grid;
	place-items: center;
	background-color: var(--ssi--background-color);
}

.ssi-template__inner {
	position: relative;
	aspect-ratio: 120/63;
	width: 100%
}
.ssi-template__text {
	font-size: calc(var(--ssi--font-size) * var(--ssi-template--unit));
	line-height: var(--ssi--line-height);
	font-family: var(--ssi--font-family);
	color: var(--ssi--text--color)
}
.ssi-template__title {
	color: var(--ssi--title--color,var(--ssi--text--color));
	font-size: calc(var(--ssi--title--font-size, var(--ssi--font-size)) * var(--ssi-template--unit));
	font-weight: var(--ssi--title--font-weight);
	text-transform: var(--ssi--title--text-transform)
}
.ssi-template__image {
	display: block;
}

.ssi-template__logo {
	height: calc(var(--ssi--logo--height) * var(--ssi-template--unit));
	width: var(--ssi--logo--width)
}