<style>
	.hdsmi-template--5 {
		--hdsmi--line-height: 1.5;
		--hdsmi--line-gap: .1em;
		--hdsmi--title--font-size: 5;
		--hdsmi--location--font-size: 3;
		--hdsmi--logo--height: 3;
	}
	.hdsmi-template--5 .hdsmi-template__text {
		line-height: calc(.1 * var(--hdsmi-template--unit));
		width: calc( (50 * var(--hdsmi-template--unit)) + (8 * var(--hdsmi-template--unit)));
		position: absolute;
		top: 50%;
		left: calc(50% - calc(10 * var(--hdsmi-template--unit)));
		transform: translateY(-50%);
		padding-top: calc(var(--hdsmi--logo--height) * var(--hdsmi-template--unit));
	}

	.hdsmi-template--5 .hdsmi-template__text > * {
		display: block;
		margin: .5em 0;
	}

	.hdsmi-template--5 .hdsmi-template__text > * > [class*="__inner"] {
		display: inline;
		line-height: var(--hdsmi--line-height);
		padding: calc( ( ( (1em * var(--hdsmi--line-height)) - 1em) / 2) - (var(--hdsmi--line-gap) / 2) ) calc(2 * var(--hdsmi-template--unit));
		
		background-color: var(--hdsmi--text--background-color);
		-webkit-box-decoration-break: clone;
		box-decoration-break: clone
	}
	.hdsmi-template--5 .hdsmi-template__text > :after {
		content: "\A";
		white-space: pre-line
	}
	.hdsmi-template--5 .hdsmi-template__title {
		
	}
	.hdsmi-template--5 .hdsmi-template__image {
		width: calc(50 * var(--hdsmi-template--unit));
		height: 100%;
		object-fit: cover
	}
	.hdsmi-template--5 .hdsmi-template__logo {
		position: absolute;
		top: calc(3 * var(--hdsmi-template--unit));
		right: calc(3 * var(--hdsmi-template--unit))
	}
</style>

<div class="[wrapper_classes]">
	<div class="hdsmi-template__inner">
		<div class="hdsmi-template__text">
			<span class="hdsmi-template__title">
				<span class="hdsmi-template__title__inner">[post:post_title]</span>
			</span>
		</div>
		<img class="hdsmi-template__image" src="[image]" />
		<img class="hdsmi-template__logo" src="[logo]" />
	</div>
</div>