<style>
/* Template 7 */

.ssi-template--7 {
  --ssi-template__logo-height: calc( (var(--ssi--logo--height) * var(--ssi-template--unit) ) );
  --ssi-template__logo-offset: calc(3 * var(--ssi-template--unit));
  --ssi-template__logo-space: calc(var(--ssi-template__logo-height) + (2 * var(--ssi-template__logo-offset)));
}

.ssi-template--7 .ssi-template__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.ssi-template--7 .ssi-template__logo {
  position: absolute;
  z-index: 1;
  top: var(--ssi-template__logo-offset);
  left: var(--ssi-template__logo-offset);
}
  
.ssi-template--7 .ssi-template__text {
  
  --ssi-template--text--margin: calc(2 * var(--ssi-template--unit));
  
  text-align: var(--ssi-template--text-align);
  width: calc(66.66% - (2 * var(--ssi-template--text--margin)));
  padding: .25em;
  margin: var(--ssi-template__logo-space) var(--ssi-template--text--margin);
  position: absolute;
  z-index: 1;
  left: 0;
  top: calc(50% - var(--ssi-template__logo-space));
  transform: translateY(-50%);
  background-color: var(--ssi--text--background-color);
}
.ssi-template--7 .ssi-template__inner:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 33.33%;
  bottom: 0;
  background-color: var(--ssi--background-color);
  opacity: .5;
  mix-blend-mode: multiply;
}

.ssi-template--7.ssi-template--reverse .ssi-template__text {
  left: auto;
  right: 0;
}

.ssi-template--7.ssi-template--reverse .ssi-template__inner:after {
  left: 33.33%;
  right: 0;
}
</style>


<div class="ssi-template__inner">
	<div class="ssi-template__text">
		<div class="ssi-template__title"><span class="ssi-template__title__inner">[post:post_title]</span></div>
	</div>
	<img class="ssi-template__image" src="[ssi:image]" />
	<img class="ssi-template__logo" src="[logo]" />
</div>