<style>
/* Template 8 */

.ssi-template--8 {
  
  --ssi-template__logo-height: calc( (var(--ssi--logo--height) * var(--ssi-template--unit) ) );
  --ssi-template__logo-offset: calc(3 * var(--ssi-template--unit));
  --ssi-template__logo-space: calc(var(--ssi-template__logo-height) + (2 * var(--ssi-template__logo-offset)));
  
}

.ssi-template--8 .ssi-template__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  height: calc(100% - var(--ssi-template__logo-space));
}

.ssi-template--8 .ssi-template__logo {
  position: absolute;
  z-index: 1;
  bottom: var(--ssi-template__logo-offset);
  left: var(--ssi-template__logo-offset);
}
  
.ssi-template--8 .ssi-template__text {
  
  --ssi-template--text--margin: calc(2 * var(--ssi-template--unit));
  
  text-align: var(--ssi-template--text-align);
  width: calc(100% - (2 * var(--ssi-template--text--margin)));
  padding: .25em;
  margin: 0 var(--ssi-template--text--margin);
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: var(--ssi-template__logo-space);
}
.ssi-template--8 .ssi-template__inner:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: var(--ssi-template__logo-space);
  background-color: var(--ssi--text--background-color);
  opacity: .5;
}

.ssi-template--8.ssi-template--reverse .ssi-template__text {
  left: 0;
  margin-top: var(--ssi-template__logo-space);
  bottom: calc(2 * var(--ssi-template--unit));
}

.ssi-template--8.ssi-template--reverse .ssi-template__logo {
  top: var(--ssi-template__logo-offset);
  bottom: auto;
}

.ssi-template--8.ssi-template--reverse .ssi-template__image {
  top: var(--ssi-template__logo-space);
}

.ssi-template--8.ssi-template--reverse .ssi-template__inner:after {
  top: var(--ssi-template__logo-space);
  bottom: 0;
}

.ssi-template--8.ssi-template--reverse .ssi-template__logo {
  left: auto;
  right: var(--ssi-template__logo-offset);
}

.ssi-template--8.ssi-template--text-align--center .ssi-template__logo {
  left: 50%;
  transform: translateX(-50%);
}
</style>


<div class="ssi-template__inner">
	<div class="ssi-template__text">
		<h1 class="ssi-template__title"><span class="ssi-template__title__inner">[post:post_title]</span></h1>
	</div>
	<img class="ssi-template__image" src="[image]" />
	<img class="ssi-template__logo" src="[logo]" />
</div>